/* Tambahkan ini ke file CSS kamu */
.sidebar-sticky {
  position: -webkit-sticky; /* Untuk dukungan di browser Safari */
  position: sticky;
  top: 0; /* Atur posisi dari atas */
  height: 100vh; /* Membuat sidebar setinggi viewport */
  overflow-y: auto; /* Agar konten di dalam sidebar dapat di-scroll jika terlalu panjang */
}
